{% extends 'base/base.html' %}

{% block main_page_title %}
{{ main_page_title }}
{% endblock main_page_title %}

{% block breadcumb %}
<li><a href=" {% url 'produit_register' %} ">{{ panel_name }}</a></li>
<li class="active">{{ panel_title }}</li>
{% endblock breadcumb %}

{% block panel_title %}
{{ panel_title }}
{% endblock panel_title %}

{% block panel %}
{% include 'includes/manage_panel_top.html' %}
{% for object in object_list %}
<tr role="row" class="odd">
    <td class="">{{ object.id }}</td>
    <td>{{ object.designation }}</td>
    <td>{{ object.detail }}</td>
    <td>{{ object.ref_produit }}</td>
    <td>{{ object.marque }}</td>
    <td>{{ object.qte_stock }}</td>
    <td>{{ object.prix }}</td>
    
    <td>
        <a href=" url 'students:student_update' object.id " class="btn btn-primary"><i class="fa fa-edit" title="Edit Record"></i>
        </a>
        <a href=" url 'students:student_delete' object.id " class="btn btn-danger"><i class="fa fa-trash" title="Delete Record"></i>
        </a>

    </td>
</tr>
{% endfor %}
{% include 'includes/manage_panel_bottom.html' %}
{% endblock panel %}


{% block javascript_code %}
<script>
</script>
{% endblock javascript_code %}